.card {
  border: 1px solid rgb(45, 36, 93);
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(30, 27, 47);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  margin: 0;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.card-tags .tag {
  padding: 4px 8px;
  border-radius: 4px;
}

.card-body {
  overflow: hidden;
  transition: all 0.3s ease;
}

.card-body.expanded {
  overflow: visible;
}

.card-read-more {
  text-align: left;
}

.card-read-more p {
  cursor: pointer;
  color: #3498db; 
  text-decoration: none;
  font-weight: bold;
}

.card-thumbnails {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 16px;
}

/* .card-thumbnails img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
} */

.gallery {
  position: relative;
  top: 0;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 1rem;
  overflow: auto; 
}

.gallery-content {
  position: relative;
  display: flex;
  flex-direction: column;
}


.gallery-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  position: relative;
}

.gallery-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.gallery-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.left-control {
  left: 10px;
}

.right-control {
  right: 10px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: rgb(54, 48, 85);
  margin: 0 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  padding:0.5rem;
  height: 1rem;
  width: auto;
}

.carousel-text{
  margin: 0;
}

.title-role-group{
  display: flex;
  flex-direction: column;
}

.card-role{
  margin-top: auto;
  margin-bottom: 0;
}

.company-logo {
  max-width: 100px; 
  max-height: 100px; 
  object-fit: contain; 
  filter: brightness(0) invert(1);
}

.thumbnail-item{
  width: 2rem;
  height: 2rem;
  max-width: 100px; 
  max-height: 100px; 
  object-fit: contain; 
  filter: brightness(0) invert(1);
}
/* @media (min-width: 600px) {
  .card {
    padding: 24px;
  }
}

@media (min-width: 768px) {
  .card {
    padding: 32px;
  }

  .card-tags {
    gap: 12px; 
  }

  .card-thumbnails img {
    width: 60px; 
    height: 60px;
  }
}

@media (min-width: 1024px) {
  .card {
    padding: 40px;
    margin: 24px 0;
  }
} */
