.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--bg-color);
    border: 1px solid #4330A3;
    border-radius: 5px;
}

.contact-form input.error,
.contact-form textarea.error {
    border-color: red;
}

.contact-form .error-message {
    display: block;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #6045E6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #5238CA;
}

textarea:focus, input:focus{
    outline: none;
    border: 1px solid var(  --accent-color);
}
