.nav-elements-container{
    transition: all 0.3s ease-in-out;
}

.nav-link-alignment{
    padding: 1rem 1rem;;
}
.nav-link-color{
    color: gray;
    text-decoration: none;
}

.nav-link-color:hover{
    color: rgb(204, 204, 204);
    text-decoration: none;
    
}

.nav-link-color.active {
    color: azure; 
    text-decoration: none; 
    position: relative;
}

.nav-link-color.active::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 1.5px;
    width: 70%;
    left: 50%; 
    transform: translateX(-50%);
    background: linear-gradient(to right, rgba(25, 19, 55, 0), azure, rgb(25, 19, 55, 0));
    /* filter: blur(0.5px); */
}


.nav-elements-container{
    display: flex;
    justify-content: center;
}

.nav-icon{
    margin-right: 0.2rem;
}
.nav-item-alignment{
    display:flex;
    align-items: center;
}

@media (max-width: 600px) {
    .card {
      padding: 24px;
    }

    .nav-title{
      display: none;
    }
}