.nav-link-alignment{
    margin-left: 2.5rem;
}
.nav-link-alignment:first-child {
    margin-left: 0;
}

.nav-link-color{
    color: gray;
    text-decoration: none;
}

.nav-link-color:hover{
    color: rgb(204, 204, 204);
    text-decoration: none;
}

.nav-link-color.active {
    color: azure; 
    text-decoration: none; 
}

.nav-elements-container{
    display: flex;
    justify-content: center;
}

.nav-icon{
    margin-right: 0.2rem;
}
.nav-item-alignment{
    display:flex;
    align-items: center;
}