@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-color: rgb(13, 10, 28);
  --bg-color-alt : rgb(25, 19, 55);

  --brut-green: rgb(34, 160, 148);
  --brut-green-alt: rgb(50, 236, 218);

  --text-azure: azure;
  --text-white: white;

  --accent-color: rgb(254, 201, 1);

  --scrollbar-width: 12px;
  --scrollbar-track-color: rgb(30, 27, 47);
  --scrollbar-thumb-color: rgb(45, 36, 93);
  --scrollbar-thumb-hover-color: rgba(45, 36, 93, 0.7);
  --scrollbar-border-color: var(--bg-color-alt);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-border-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}



::-moz-selection { 
  color: black;
  background: rgb(254, 201, 1);
}

::selection {
  color: black;
  background: rgb(254, 201, 1);
}


@font-face {
  font-family: 'Abnes';
  src: local('Abnes'), url(./assets/fonts/abnes.ttf) format('truetype');
}

@font-face {
  font-family: 'Agoka';
  src: local('Agoka'), url(./assets/fonts/Agoka.otf) format('opentype');
}

@font-face {
  font-family: 'AnandaBlack';
  src: local('AnandaBlack'), url(./assets/fonts/AnandaBlack.ttf) format('truetype');
}

@font-face {
  font-family: 'Andmorey';
  src: local('Andmorey'), url(./assets/fonts/Andmorey.otf) format('opentype');
}

@font-face {
  font-family: 'AnkhSanctuary';
  src: local('AnkhSanctuary'), url(./assets/fonts/AnkhSanctuary.ttf) format('truetype');
}

@font-face {
  font-family: 'BlackJaguar';
  src: local('BlackJaguar'), url(./assets/fonts/BlackJaguar.ttf) format('truetype');
}

@font-face {
  font-family: 'CoffeeHealing';
  src: local('CoffeeHealing'), url(./assets/fonts/CoffeeHealing.ttf) format('truetype');
}

@font-face {
  font-family: 'CreamySugar';
  src: local('CreamySugar'), url(./assets/fonts/CreamySugar.ttf) format('truetype');
}

@font-face {
  font-family: 'Emotions';
  src: local('Emotions'), url(./assets/fonts/Emotions.ttf) format('truetype');
}

@font-face {
  font-family: 'HFLacrimosa';
  src: local('HFLacrimosa'), url(./assets/fonts/HFLacrimosa.ttf) format('truetype');
}

@font-face {
  font-family: 'MonainnRegular';
  src: local('MonainnRegular'), url(./assets/fonts/MonainnRegular.otf) format('opentype');
}

@font-face {
  font-family: 'Queensides';
  src: local('Queensides'), url(./assets/fonts/Queensides.ttf) format('truetype');
}

@font-face {
  font-family: 'Sequences';
  src: local('Sequences'), url(./assets/fonts/Sequences.ttf) format('truetype');
}

@font-face {
  font-family: 'Supercharge';
  src: local('Supercharge'), url(./assets/fonts/Supercharge.otf) format('opentype');
}

@font-face {
  font-family: 'Tostada';
  src: local('Tostada'), url(./assets/fonts/Tostada.ttf) format('truetype');
}

@font-face {
  font-family: 'Vodan';
  src: local('Vodan'), url(./assets/fonts/Vodan.ttf) format('truetype');
}

@font-face {
  font-family: 'Wolfgang';
  src: local('Wolfgang'), url(./assets/fonts/Wolfgang.ttf) format('truetype');
}

@font-face {
  font-family: 'Xenosphere';
  src: local('Xenosphere'), url(./assets/fonts/xenosphere.ttf) format('truetype');
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
