.navbar-position {
  display: flex;
  justify-content: center;
}

.navbar-container {
  background-color: rgb(25, 19, 55); 
  color: azure; 
  border-radius: 30px; 
  transition: background-image 0.3s ease-in-out;
  width: fit-content;
}

.fixed-navbar {
  position: fixed;
  top: 1rem; 
  z-index: 10;
}

.relative-navbar {
  position: relative; 
  margin-top: 1rem; 
}

.navbar-container:hover {
  background-image: radial-gradient(
    circle at var(--x) var(--y),
    rgba(65, 50, 142, 0.3),
    transparent 40%
  );
}
